footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0 25px;

    border-top: #0DAC60 solid 2px;
    
    background-color: #FFF;
    
    box-shadow: var(--shadow);

    transition: 0.2s;
}